extends layout 

block content

  form#newForm(method="POST" action="/new")
    input.formInput(type="text", name="name" placeholder = "Your name")
    input.formInput(type="text", name="message-text" placeholder = "Your message")
    button(type="submit") Add message
