extends layout 

block content
  #formContainer 
    form#newForm(method="POST" action="/new" )
      input.formInput(type="text", name="name" placeholder = "Your name" required = true)
      input.formInput(type="text", name="messageText" placeholder = "Your message" required = true)
      button(type="submit") Add message
