body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message {
  max-width: 500px;

  margin: 35px 10px;
  padding: 10px;

  border-radius: 10px;

  word-wrap: break-word;
}

.message:hover {
  box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.1);
}

#formContainer {
  display: flex;
  justify-content: center;
}
#newForm {
  width: 95%;
  max-width: 520px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.formInput {
  width: 90%;

  margin-bottom: 10px;
}
#newForm button {
  width: 130px;

  padding: 10px 20px;

  background-color: #00B7FF;

  color: white;

  border: none;
  border-radius: 5px;

}